.tsag-subheader {
    width: 100%;
}

.tsag-md-list {
    max-height:200px !important;
    height: 200px !important;
    overflow: auto;
}


.tsag-md-table-row-footer {
   font-weight: bold;
}

.tsag-md-table-negative {
    color:red !important;
}

