<div layout="column" style="height:100%;" ng-cloak>

    <section layout="row" flex md-swipe-left="vm.closeLeft()" md-swipe-right="vm.openLeft()">

        <md-sidenav ng-include="'/app/layout/template.menu.vertical.html'" class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

        </md-sidenav>

        <md-content flex>

            <div layout="column" layout-align="top center">

                <md-toolbar show-xs hide-gt-xs>
                    <div class="md-toolbar-tools">
                        <md-button ng-click="vm.toggleLeft()" class="md-icon-button" aria-label="Settings">
                            <md-icon><i class="material-icons">menu</i></md-icon>
                        </md-button>
                        <div flex></div>

                        <h2 ng-if="vm.autenticado" flex md-truncate><span translate="APP_NAME" class="mo-capitalize"></span> </h2>




                        <md-button class="md-raised" aria-label="Login" ng-hide="vm.autenticado" ng-click="vm.mostrarDialogLogin($event)">
                            <md-icon><i class="material-icons">lock_open</i></md-icon>
                            <span translate="MENU_TITLE_LOGIN"></span>
                            <md-tooltip md-direction="bottom"><span translate="TOOLTIP_ROOT_CLICK_LOGIN"></span> </md-tooltip>
                        </md-button>

                        <md-button class="md-icon-button" ng-click="vm.logout()" aria-label="Favorite" ng-show="vm.autenticado">
                            <md-icon><i class="material-icons">exit_to_app</i></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>


                <md-toolbar hide-xs show-gt-xs class="md-menu-toolbar" ng-include="'/app/layout/template.menu.html'"></md-toolbar>

            </div>

            <ui-view></ui-view>


        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput" ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="vm.closeRight()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>

        </md-sidenav>

    </section>

</div>