<md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools" translate="APP_NAME"></h1>
</md-toolbar>
<md-content>
    <md-list>
        <md-divider></md-divider>

        <md-subheader class="md-no-sticky mo-fondo-blanco" translate="MENU_TITLE"> </md-subheader>
        <md-list-item class="md-raised" ng-click="vm.goUrl(item.link)" ui-ref="{{item.link}}" ng-repeat="item in vm.datosMenu">
            <i class="material-icons">{{item.icon}}</i>
            <p translate="{{item.text}}"> </p>
            <md-divider></md-divider>
        </md-list-item>



    </md-list>

</md-content>