<div layout="row">
    <md-toolbar-filler layout layout-align="center center">
        <md-icon class="material-icons "> account_balance </md-icon>
    </md-toolbar-filler>

    <div>
        <h2 class="md-toolbar-tools">Agence</h2>
        <md-menu-bar>

            <md-menu ng-repeat="item in vm.datosMenu">
                <button ng-click="$mdMenu.open()"> 
                   <span> <md-icon class="material-icons">{{item.icon}}</md-icon>
                     {{item.text | translate }} </span></button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                            Undefined
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>


        </md-menu-bar>
    </div>
</div>