<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">

        <div flex-xs flex-gt-xs="100" layout="column">

            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'TABS_TAB_POR_CONSULTORES' | translate}}">

                    <div ng-include="'/app/home/template.form.query.html'"></div>

                    <div ng-if="vm.visiblePieChart" ng-include="'/app/home/template.chart.pie.html'"></div>
                    <div ng-if="vm.visibleChart" ng-include="'/app/home/template.chart.html'"></div>
                    <div ng-if="vm.visibleTable" ng-include="'/app/home/template.consultor.ganancia.html'"></div>
                </md-tab>

                <md-tab label="{{'TABS_TAB_POR_CLIENTES' | translate}}">

                </md-tab>
            </md-tabs>
        </div>

    </md-content>
</div>