<md-card ng-repeat="itemGanancia in vm.listaGanancias">

    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span>{{itemGanancia.noUsuario}}</span>
        </h2>
    </md-toolbar>

    <md-card-content>

        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>


                        <th md-column><span translate="TABLA_COL_GANANCIA_PERIODO"></span></th>
                        <th md-column><span translate="TABLA_COL_GANANCIA_GANANCIA"></span></th>
                        <th md-column><span translate="TABLA_COL_GANANCIA_COSTO"></span></th>
                        <th md-column><span translate="TABLA_COL_GANANCIA_COMISION"></span></th>
                        <th md-column><span translate="TABLA_COL_GANANCIA_BENEFICIO"></span></th>


                    </tr>
                </thead>
                <tbody md-body>

                    <tr md-row md-select="item" md-select-id="item._id" md-auto-select ng-repeat="item in itemGanancia.ganancias.resultados_by_periodos">

                        <td md-cell>{{('MES_' + item.mes) | translate }} {{item.anyo}}</td>
                        <td md-cell>{{item.valor_neto_periodo | currency}}</td>
                        <td md-cell>{{item.brut_salario | currency}}</td>
                        <td md-cell>{{item.comision_periodo | currency}}</td>
                        <td md-cell>{{item.lucro | currency}}</td>
                    </tr>

                    <tr md-row md-select="item" md-auto-select >

                        <td md-cell class="tsag-md-table-row-footer" >TOTAL</td>
                        <td md-cell class="tsag-md-table-row-footer" >{{itemGanancia.ganancias.totales.valor_neto_periodo | currency}}</td>
                        <td md-cell class="tsag-md-table-row-footer" >{{itemGanancia.ganancias.totales.brut_salario | currency}}</td>
                        <td md-cell class="tsag-md-table-row-footer" >{{itemGanancia.ganancias.totales.comision_periodo | currency}}</td>
                        <td md-cell  class="tsag-md-table-row-footer" >{{itemGanancia.ganancias.totales.lucro | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>



    </md-card-content>


    <!--<md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">Iniciar Sesion</md-button>

    </md-card-actions>

    -->
</md-card>