<md-card>
    <md-card-content>
        <canvas style="height:220px" class="chart-bar" chart-colors="vm.chartColors" chart-dataset-override="vm.datasetOverrideChart" chart-options="vm.optionsChart" chart-data="vm.dataChart"
            chart-labels="vm.labelsChart" chart-click="null"></canvas>
    </md-card-content>
</md-card>