
<md-card>
    <md-card-content>

        <canvas style="height:220px" chart-colors="vm.chartColors"  class="chart chart-pie" chart-options="vm.optionsPie" chart-data="vm.dataPie" chart-labels="vm.labelsPie"
            chart-series="vm.series" chart-click="null"></canvas>
    </md-card-content>
</md-card>