<md-card>
    <md-card-content>


        <div layout-xs="column" layout="row">

            <div>
                <div layout-xs="column" layout="column">


                    <div flex-xs flex-gt-xs layout="row">
                        <md-subheader class="md-no-sticky tsag-subheader">{{'MOD_001_LAB_PERIODO' | translate}}</md-subheader>
                    </div>

                    <div flex-xs flex-gt-xs layout="row">

                        <md-input-container>
                            <label>{{'MOD_001_LAB_PERIODO' | translate}}</label>
                            <md-select ng-model="vm.fromMonth">
                                <md-option ng-repeat="value in vm.listaMeses" ng-value="value" required>
                                    {{ ("MES_ABRV_" + value) | translate}}
                                </md-option>
                            </md-select>
                        </md-input-container>



                        <md-input-container>
                            <label>{{'MOD_001_LAB_PERIODO' | translate}}</label>
                            <md-select ng-model="vm.fromYear">
                                <md-option ng-repeat="value in vm.listaYears" ng-value="value" required>
                                    {{value}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>

                    <div flex-xs flex-gt-xs layout="row">

                        <md-subheader class="md-no-sticky tsag-subheader">{{'MOD_001_LAB_HASTA' | translate}}</md-subheader>

                    </div>


                    <div flex-xs flex-gt-xs layout="row">



                        <md-input-container>
                            <label>{{'MOD_001_LAB_MES' | translate}}</label>
                            <md-select ng-model="vm.toMonth">
                                <md-option ng-repeat="value in vm.listaMeses" ng-value="value" required>
                                    {{ ("MES_ABRV_" + value) | translate}}
                                </md-option>
                            </md-select>
                        </md-input-container>


                        <md-input-container>
                            <label>{{'MOD_001_LAB_YEAR' | translate}}</label>
                            <md-select ng-model="vm.toYear">
                                <md-option ng-repeat="value in vm.listaYears" ng-value="value" required>
                                    {{value}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </div>


                </div>

            </div>

            <div flex>
                <div layout-xs="column" layout="column">

                    <md-subheader class="md-no-sticky">{{'MOD_001_LAB_CONSULTORES_DISPONIBLES' | translate}}</md-subheader>
                    <md-list class="tsag-md-list">
                        <md-list-item ng-click="vm.addCheck($event,item)" ng-repeat="item in vm.listaConsultores | filter: { checked: false}">
                            <!--<md-checkbox ng-model="item.checked"></md-checkbox>-->
                            <p>{{item.noUsuario}}</p>
                            <md-button class="md-icon-button" ng-click="vm.removeCheck($event,item)">
                                <md-icon class="material-icons "> arrow_right </md-icon>
                            </md-button>
                        </md-list-item>

                    </md-list>

                </div>
            </div>


            <div flex>
                <div layout-xs="column" layout="column">

                    <md-subheader class="md-no-sticky">{{'MOD_001_LAB_CONSULTORES_SELECCIONADOS' | translate}}</md-subheader>
                    <md-list class="tsag-md-list">
                        <md-list-item ng-click="vm.removeCheck($event,item)" ng-repeat="item in vm.listaConsultores | filter: { checked: true}">
                            <md-button class="md-icon-button">
                                <md-icon class="material-icons "> arrow_left </md-icon>
                            </md-button>
                            <p>{{item.noUsuario}}</p>

                        </md-list-item>
                    </md-list>

                </div>
            </div>


            <div flex>
                <div ng-if="!vm.cargandoInforme" layout-xs="column" layout="column" layout-align="space-between stretch">
                    <md-button ng-click=" vm.generarInformeGanancias()" class="md-raised md-primary">
                        <md-icon class="material-icons">insert_drive_file</md-icon>{{'MOD_001_LAB_BTN_RESULTADOS' | translate}}
                    </md-button>
                    <md-button ng-click="vm.generarGrafico()"class="md-raised md-primary">
                        <md-icon class="material-icons">show_chart</md-icon>{{'MOD_001_LAB_BTN_GRAFICO' | translate }}
                    </md-button>
                    <md-button ng-click="vm.generarGraficoPie()" class="md-raised md-primary">
                        <md-icon class="material-icons">pie_chart</md-icon> {{'MOD_001_LAB_BTN_PIZZA' | translate}}
                    </md-button>
                </div>
                <div ng-if="vm.cargandoInforme" layout-xs="column" layout="column" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>

        </div>

    </md-card-content>
</md-card>